<a href="https://colab.research.google.com/github/leadeeerq/Projects/blob/main/Pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Za≈Çadowanie danych

In [400]:
 import pandas as pd

In [401]:
df = pd.read_csv('/content/drive/MyDrive/Projekty/pokemon_data.csv')
# df = pd.read_csv('/content/drive/MyDrive/Projekty/pokemon_data.txt', delimiter = '\t')

In [402]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

##Eksploracja danych

####Wylistowanie kolumn

In [403]:
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [404]:
for col in df.columns:
  print(col)

#
Name
Type 1
Type 2
HP
Attack
Defense
Sp. Atk
Sp. Def
Speed
Generation
Legendary

####Odczyt kilku kolumn

In [405]:
print(df[['Name', 'HP', 'Generation']])

                      Name  HP  Generation
0                Bulbasaur  45           1
1                  Ivysaur  60           1
2                 Venusaur  80           1
3    VenusaurMega Venusaur  80           1
4               Charmander  39           1
..                     ...  ..         ...
795                Diancie  50           6
796    DiancieMega Diancie  50           6
797    HoopaHoopa Confined  80           6
798     HoopaHoopa Unbound  80           6
799              Volcanion  80           6

[800 rows x 3 columns]

####Pierwsza generacja

In [406]:
Gen1 = df[df['Generation'] == 1]
HPGen1 = Gen1.sort_values(['HP'], ascending=False)
HPGen1.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
155,143,Snorlax,Normal,NaN,160,110,65,65,110,30,1,False
45,40,Wigglytuff,Normal,Fairy,140,70,45,85,50,45,1,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False

In [407]:
HP2 = df.sort_values(['HP'], ascending = False)
HP2.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False

####Odczyt poszczeg√≥lnych wierszy iloc

In [408]:
df.iloc[2]

#                    3
Name          Venusaur
Type 1           Grass
Type 2          Poison
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object

In [409]:
print(df.iloc[2:5][['Name', 'HP', 'Type 1']])

                    Name  HP Type 1
2               Venusaur  80  Grass
3  VenusaurMega Venusaur  80  Grass
4             Charmander  39   Fire

In [410]:
for index, row in df.iterrows():
  if index < 20:
    print(index, row['Name'])

0 Bulbasaur
1 Ivysaur
2 Venusaur
3 VenusaurMega Venusaur
4 Charmander
5 Charmeleon
6 Charizard
7 CharizardMega Charizard X
8 CharizardMega Charizard Y
9 Squirtle
10 Wartortle
11 Blastoise
12 BlastoiseMega Blastoise
13 Caterpie
14 Metapod
15 Butterfree
16 Weedle
17 Kakuna
18 Beedrill
19 BeedrillMega Beedrill

####Odczyt konkretnych kom√≥rek

In [411]:
print(df.iloc[99,1])

Gastly

####Odczyt za pomocƒÖ loc

In [412]:
df.loc[df['Generation'] == 1]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
161,149,Dragonite,Dragon,Flying,91,134,95,100,100,80,1,False
162,150,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True
165,151,Mew,Psychic,NaN,100,100,100,100,100,100,1,False

In [413]:
df.loc[df['Name'] == 'Venusaur']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

##Opis danych

In [414]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

##Sortowanie danych

In [415]:
df.sort_values('Attack', ascending = False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

In [416]:
df.sort_values(['Attack', 'Defense'], ascending = [0, 1]) #False, True

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

##Modyfikowanie danych

####Dodawanie nowych kolumn

In [417]:
df_mod = df.copy()
df_mod['Att/def ratio'] = df_mod['Attack']/df_mod['Defense']
df_mod.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Att/def ratio
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,1.209302

In [418]:
# df_mod['Total'] = df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df_mod['Total'] = df.iloc[:, 4:10].sum(axis=1)
df_mod.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Att/def ratio,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1.000000,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,0.984127,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,0.987952,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,0.813008,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,1.209302,309

####Modyfikowanie pozycji kolumn

In [419]:
cols = list(df_mod.columns.values)

for c, value in enumerate(cols, 0):
    print(c, value)

0 #
1 Name
2 Type 1
3 Type 2
4 HP
5 Attack
6 Defense
7 Sp. Atk
8 Sp. Def
9 Speed
10 Generation
11 Legendary
12 Att/def ratio
13 Total

In [420]:
df_mod = df_mod[cols[0:4] + [cols[-1]] + cols[4:13]]
df_mod.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Att/def ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

##Eksport danych do csv

In [421]:
df.to_csv('/content/drive/MyDrive/Projekty/df_mod.csv', index=False)

##Filtrowanie danych

In [422]:
df.loc[df['Type 1'] == 'Grass']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [423]:
df_type = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Fighting')]
df_type

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
310,286,Breloom,Grass,Fighting,60,130,80,60,60,70,3,False
701,640,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False

####Reset indeksu, inplace = True

In [424]:
df_legendary = df.loc[df['Legendary'] == True]
# print(len(df_legendary))
# df_legendary = df_legendary.reset_index(drop=True)
df_legendary.reset_index(drop = True, inplace = True) #inplace
df_legendary

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,144,Articuno,Ice,Flying,90,85,100,95,125,85,1,True
1,145,Zapdos,Electric,Flying,90,90,85,125,90,100,1,True
2,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
3,150,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True
4,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
60,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
61,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
62,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
63,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
64,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [425]:
print(df_mod.Generation.unique())

[1 2 3 4 5 6]

####Utworzenie listy unikalnych typ√≥w

In [426]:
type1 = df['Type 1'].unique().tolist()
type2 = df['Type 2'].unique().tolist()

in_first = set(type1)
in_second = set(type2)

in_second_but_not_in_first = in_second - in_first

types = type1 + list(in_second_but_not_in_first)
# types = types.dropna()
types = types[0:-1] #Usuniƒôcie nan

for typ in types:
    print(typ)

Grass
Fire
Water
Bug
Normal
Poison
Electric
Ground
Fairy
Fighting
Psychic
Rock
Ghost
Ice
Dragon
Dark
Steel
Flying

####Odfiltrowanie danych

In [427]:
df_no_mega = df_mod.loc[~df['Name'].str.contains('Mega')] #Usuniƒôcie poke z "mega" w nazwie. Tylda!
df_no_mega.reset_index(drop = True, inplace = True)
df_no_mega

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Att/def ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True,0.826446
747,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.666667
748,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833333
749,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.666667
750,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.916667

####Regex

In [428]:
import re

In [429]:
df_no_mega.loc[df['Type 1'].str.contains('Fire|Rock', regex=True)] #Kapitalizacja!

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Att/def ratio
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448
5,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923
6,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462
7,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,0.787500
8,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,0.830000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,701,Hawlucha,Fighting,Flying,500,78,92,75,74,63,118,6,False,1.226667
730,708,Phantump,Ghost,Grass,309,43,70,48,50,60,38,6,False,1.458333
731,709,Trevenant,Ghost,Grass,474,85,110,76,65,82,56,6,False,1.447368
735,710,PumpkabooSuper Size,Ghost,Grass,335,59,66,70,44,55,41,6,False,0.942857
736,711,GourgeistAverage Size,Ghost,Grass,494,65,90,122,58,75,84,6,False,0.737705

In [430]:
df_no_mega.loc[df['Type 1'].str.contains('fire|rock', flags=re.I, regex=True)] #Wielko≈õƒá liter nie ma znaczenia

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Att/def ratio
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448
5,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923
6,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462
7,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,0.787500
8,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,0.830000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,701,Hawlucha,Fighting,Flying,500,78,92,75,74,63,118,6,False,1.226667
730,708,Phantump,Ghost,Grass,309,43,70,48,50,60,38,6,False,1.458333
731,709,Trevenant,Ghost,Grass,474,85,110,76,65,82,56,6,False,1.447368
735,710,PumpkabooSuper Size,Ghost,Grass,335,59,66,70,44,55,41,6,False,0.942857
736,711,GourgeistAverage Size,Ghost,Grass,494,65,90,122,58,75,84,6,False,0.737705

In [431]:
df_no_mega.loc[df['Name'].str.contains('^ta[a-z]*', flags = re.I, regex = True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Att/def ratio
122,123,Scyther,Bug,Flying,500,70,110,80,55,80,105,1,False,1.375000
138,139,Omastar,Rock,Water,495,70,60,125,115,70,55,1,False,0.480000
299,301,Delcatty,Normal,NaN,380,70,65,65,55,55,70,3,False,1.000000
516,504,Patrat,Normal,NaN,255,45,55,39,35,39,42,5,False,1.410256
731,709,Trevenant,Ghost,Grass,474,85,110,76,65,82,56,6,False,1.447368

##Warunkowe modyfikowanie danych

In [432]:
# df_no_mega.loc[df_no_mega['Type 1'] == 'Fire', 'Legendary'] = True
# df_cond_mod

# df.loc[df['A'] > 2, 'B'] = new_val

In [433]:
df_no_mega.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Att/def ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448

In [434]:
df_cond = df_no_mega.copy()
df_cond.loc[df_cond['Total'] > 500, ['Legendary', 'Generation']] = ['Test1', 'Test2']
df_cond

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Att/def ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Test2,Test1,0.987952
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,Test2,Test1,0.826446
747,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,Test2,Test1,0.666667
748,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,Test2,Test1,1.833333
749,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,Test2,Test1,2.666667
750,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,Test2,Test1,0.916667

##Agregowanie danych (groupby)

In [435]:
df_no_mega

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Att/def ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True,0.826446
747,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.666667
748,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833333
749,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.666667
750,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.916667

####≈örednie warto≈õci dla zagregowanych typ√≥w

In [436]:
df_no_mega.groupby(['Type 1']).mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Att/def ratio
Type 1,,,,,,,,,,,
Bug,346.338462,366.938462,56.076923,65.492308,68.692308,54.338462,63.015385,59.323077,3.323077,0.000000,1.030584
Dark,479.000000,434.750000,67.178571,86.250000,67.928571,70.500000,67.500000,75.392857,4.178571,0.071429,1.382039
Dragon,495.500000,517.192308,81.653846,105.884615,80.346154,87.269231,83.961538,78.076923,4.038462,0.346154,1.342078
Electric,369.119048,436.309524,58.833333,68.333333,65.047619,87.166667,72.690476,84.238095,3.309524,0.095238,1.164615
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,0.946157
Fighting,362.720000,404.360000,70.240000,94.720000,64.280000,48.560000,63.680000,62.880000,3.360000,0.000000,1.522409
Fire,342.354167,445.041667,69.354167,81.125000,65.729167,84.645833,70.208333,73.979167,3.312500,0.104167,1.309585
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,1.156250
Ghost,504.000000,430.366667,64.600000,71.033333,81.433333,75.866667,75.633333,61.800000,4.333333,0.066667,0.980057
Grass,352.575758,410.696970,66.500000,71.227273,68.984848,74.893939,68.484848,60.606061,3.409091,0.045455,1.086043
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,1.257553
Ice,426.217391,427.086957,71.652174,70.695652,71.043478,75.695652,76.130435,61.869565,3.565217,0.086957,1.118134
Normal,321.138298,394.372340,76.776596,72.329787,58.138298,54.691489,62.159574,70.276596,3.063830,0.021277,1.279395
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,1.139166
Psychic,395.846154,456.596154,69.673077,66.019231,66.596154,93.384615,83.711538,77.211538,3.519231,0.230769,1.147712
Rock,394.414634,437.804878,64.536585,88.463415,99.756098,60.048780,73.073171,51.926829,3.487805,0.073171,1.050301
Steel,468.000000,467.304348,64.608696,86.434783,116.391304,67.304348,78.130435,54.434783,4.043478,0.173913,0.822327
Water,309.794393,422.018692,71.327103,71.794393,70.850467,73.261682,69.140187,65.644860,2.906542,0.037383,1.082281

In [437]:
df_no_mega.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Att/def ratio
Type 1,,,,,,,,,,,
Dragon,495.500000,517.192308,81.653846,105.884615,80.346154,87.269231,83.961538,78.076923,4.038462,0.346154,1.342078
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,1.257553
Fighting,362.720000,404.360000,70.240000,94.720000,64.280000,48.560000,63.680000,62.880000,3.360000,0.000000,1.522409
Rock,394.414634,437.804878,64.536585,88.463415,99.756098,60.048780,73.073171,51.926829,3.487805,0.073171,1.050301
Steel,468.000000,467.304348,64.608696,86.434783,116.391304,67.304348,78.130435,54.434783,4.043478,0.173913,0.822327
Dark,479.000000,434.750000,67.178571,86.250000,67.928571,70.500000,67.500000,75.392857,4.178571,0.071429,1.382039
Fire,342.354167,445.041667,69.354167,81.125000,65.729167,84.645833,70.208333,73.979167,3.312500,0.104167,1.309585
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,1.156250
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,1.139166
Normal,321.138298,394.372340,76.776596,72.329787,58.138298,54.691489,62.159574,70.276596,3.063830,0.021277,1.279395
Water,309.794393,422.018692,71.327103,71.794393,70.850467,73.261682,69.140187,65.644860,2.906542,0.037383,1.082281
Grass,352.575758,410.696970,66.500000,71.227273,68.984848,74.893939,68.484848,60.606061,3.409091,0.045455,1.086043
Ghost,504.000000,430.366667,64.600000,71.033333,81.433333,75.866667,75.633333,61.800000,4.333333,0.066667,0.980057
Ice,426.217391,427.086957,71.652174,70.695652,71.043478,75.695652,76.130435,61.869565,3.565217,0.086957,1.118134
Electric,369.119048,436.309524,58.833333,68.333333,65.047619,87.166667,72.690476,84.238095,3.309524,0.095238,1.164615
Psychic,395.846154,456.596154,69.673077,66.019231,66.596154,93.384615,83.711538,77.211538,3.519231,0.230769,1.147712
Bug,346.338462,366.938462,56.076923,65.492308,68.692308,54.338462,63.015385,59.323077,3.323077,0.000000,1.030584
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,0.946157

#### sum(), mean(), count()

In [445]:
df_no_mega[['Type 1','Legendary']].groupby(['Type 1']).sum().sort_values('Legendary', ascending = False)

          Legendary
Type 1
Psychic          12
Dragon            9
Fire              5
Water             4
Ground            4
Electric          4
Steel             4
Rock              3
Grass             3
Dark              2
Ghost             2
Ice               2
Normal            2
Flying            2
Fairy             1
Poison            0
Fighting          0
Bug               0

In [447]:
df_no_mega.groupby(['Type 1', 'Type 2']).count()['#']

Type 1  Type 2
Bug     Electric     2
        Fighting     1
        Fire         2
        Flying      13
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      4
        Rock         4
        Steel        1
Name: #, Length: 132, dtype: int64

##Praca z wiƒôkszymi zbiorami danych

####Wczytywanie okre≈õlonej liczby wierszy na raz

In [ ]:
nrows = 10
for df in pd.read_csv('/content/drive/MyDrive/Projekty/pokemon_data.csv', chunksize=nrows):
  print("Wycinek")
  print(df)